[submodule "submissions-pilot2"]
	path = submissions-pilot2
	url = https://github.com/RConsortium/submissions-pilot2
[submodule "rhino/pilot2-modified"]
	path = rhino/pilot2-modified
	url = https://github.com/Appsilon/rhino-fda-pilot
